#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100vw;
}

h1 {
  margin-top: 0;
}

h2 {
  padding-top: 10px;
  margin-top: 0;
}

p {
  margin: auto;
}

/* intro section */
#intro-container {
  display: flex;
}

/* portrait img */
#intro-container img {
  width: auto;
}

#quick-info-container {
  margin: 30px;
  width: 50%;
  height: auto;
  display: inherit;
}

#quick-info-content {
  margin: auto;
}

#quick-info-content button { 
  border-radius: 10px;
  background-color: white;
}

#quick-info-content button:hover { 
  background-color: deepskyblue;
}

/* icons with links to personal accounts */
#profiles-container {
  display: block;
}

#profiles-container a {
  margin: 5px;
}

#profiles-container img {
  width: auto;
}

#profiles-container img:hover { 
  opacity: 0.7;
}

#fact-container {
  margin-top: 20px;
  height: 1rem;
}

/* about me section */
#about-container {
  background-color: black;
}

#about-container h2 {
  color: wheat;
}

#about-container img {
  width: auto;
}

#about-container p {
  color: whitesmoke;
  padding: 15px;
}

/* projects section */
#project-container {
  background-color: #999999;
}

#project-content {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#project-content ul {
  text-align: left;
}

/* photography section */
#album {
  display: flex;
  justify-content: center;
}

.photo-container {
  display:block;
  margin: 25px;
  border: 2px black solid;
  border-radius: 5px;
  height: auto;
}

.photo-container img {  
  height: auto;
  width: 100%;
}

/* blog section */
#blog-post-container {
  background-color: #f2f2f2;
}

#blog-post {
  display: inline-block;
  margin: 15px;
  text-align: left;
  padding: 10px;
  border: 2px black solid;
  background-color: beige;
}

/* phones */
@media (max-width: 600px) {
  /* intro section */
  #intro-container img {
    height: 300px;
  }

  #profiles-container img { 
    height: 50px;
    width: auto;
  }

  /* photography section */
  .photo-container {
    width: 300px;
  }

  .photo-container p {
    padding: 0 5px;
  }

  /* about me section */
  #about-container img {
    height: 250px;
  }  
}

/* bigger devices */
@media (min-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;  
  }

  p {
    width: 50vw;
    font-size: 25px;
  }

  li {
    font-size: 30px;
  }

  /* intro section */
  #intro-container img {
    height: 90vh;
  }
 
  #profiles-container img { 
    height: 100px;
    width: auto;
    margin: 15px;
  }

  #quick-info-content button { 
    font-size: 20px;
    padding: 7px;
    margin-top: 10px;
  }

  #fact-container {
    color: blueviolet;
    font-size: 25px;
  }
    
  /* about me section */
  #about-container img {
    height: 60vh;
  }    

  /* photography section */
  .photo-container {
    width: 350px;
  }

  .photo-container p {
    width: auto;
    padding: 15px;
    font-size: 20px;
  }

  /* blog section */
  #blog-post p {
    width: 40vw;
  }
}
