#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

/* intro container */
h1 {
    margin-left: 30px;
}

#intro-container {
    display: flex;
}

#intro-container img{
    height: 300px;
    width: auto;
}

#quick-info-container {
    text-align: center;
    margin: 30px;
}

#profiles-container {
    display: block;
}

#profiles-container img{
    height: 50px;
    width: auto;
    margin: 5px;
}

#profiles-container img: hover{
    opacity: 0.7;
}

#fact-container {
  margin-top: 20px;
}

/* about me container */
#about-container {
    text-align: center;
}

#about-container img{
    height: 250px;
    width: auto;
}

#photo-container {
    text-align: center;
}
