#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
}

/* intro section */
h1 {
  margin-top: 0;
}

h2 {
  padding-top: 10px;
  margin-top: 0;
}

#intro-container {
  display: flex;
}

#intro-container img{
  height: 300px;
  width: auto;
}

#quick-info-container {
  margin: 30px;
  width: 50%;
  height: auto;
  display: inherit;
}

#quick-info-content {
  margin: auto;
}

#profiles-container {
  display: block;
}

#profiles-container a{
  margin: 5px;
}

#profiles-container img{
  height: 50px;
  width: auto;
}

#profiles-container img:hover{
  opacity: 0.7;
}

#fact-container {
  margin-top: 20px;
  height: 1rem;
}

/* about me section */
#about-container {
  background-color: black;
}

#about-container h2{
  color: wheat;
}

#about-container img{
  height: 250px;
  width: auto;
}

#about-container p{
  color: whitesmoke;
  padding: 15px;
  margin: 0;
}

/* projects section */
#project-container {
  background-color: #999999;
}

#project-content {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

#project-content ul{
  text-align: left;
}

/* photography section */
#album {
  display: flex;
}

.photo-container {
  display:block;
  margin: 25px;
  border: 2px black solid;
  border-radius: 5px;
  height: auto;
  width: 300px;
}

.photo-container img{
  height: auto;
  width: 100%;
}

.photo-container p{
  padding: 0 5px;
}

#blog-post-container {
  background-color: #f2f2f2;
}

#blog-post {
  margin: 15px;
  text-align: left;
  padding: 10px;
  border: 2px black solid;
  background-color: beige;
}

#blog-post p{
  margin: 0;
}
